@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    padding: 5rem 0;

    &__grid {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet { 
            flex-direction: row;
            justify-content: center;
        }
    }
    &__logo {
        width: 30rem;
        margin-bottom: 3rem;
        @include m.tablet { 
            margin-bottom: 0;
        }
    }
}