@use 'base/mixins' as m;
@use 'base/variables' as v;

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet { 
        flex-direction: row;
        gap: 2rem;
    }
    &__link {
        font-size: 2.4rem;
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0;
        }
        @include m.tablet { 
            margin-bottom: 0;
        }
        &:hover {
            color: v.$primario;
        }
    }
}