@use 'base/mixins' as m;
@use 'base/variables' as v;

.bloques {

    &__grid {
        @include m.tablet { 
            @include m.grid(2, 0rem);
            grid-auto-flow: dense; //hace que la columno se mueva al espacio vasio que se genera pir default en grid, acomoda la imagen 
        }
    }
}

.bloque {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:nth-child(1) {
        background-color: v.$primario;
    }

    &:nth-child(2) {
        @include m.bgImagen('../../../../build/img/bloque_1.jpg')
    }
    &:nth-child(3) {
        background-color: v.$secundario;
        @include m.tablet { 
            grid-column: 2 / 3;
        }
    }
    &:nth-child(4) {
        @include m.bgImagen('../../../../build/img/bloque_2.jpg')
    }
    &__contenido {
        max-width: 40rem;
        border-block: 1px solid v.$blanco; //añade el border arriba y abajo
        color: v.$blanco;
        padding: 1rem 0;
    }
    &__heading {
        text-transform: uppercase;
    }
    &__texto {
        font-size: 2rem;
    }
}