@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer {
    padding: 3rem 0;
    border-bottom: .5rem solid v.$primario;

    &__grid {
        @include m.tablet { 
            display: flex;
            justify-content: space-between;
        }
    } 
    &__copyriht {
        text-align: center;
        font-size: 2.4rem;
        margin-top: 3rem;
        @include m.tablet { 
            margin: 0;
        }
    }
}